@import '../../../../styles/mixins';

.content-menu,
.language {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header {
  padding: 10px 0;
  &__button {
    background: url(../../../../assets/hamburguer.svg) no-repeat center;
    border: none;
    display: flex;
    width: 24px;
    height: 24px;
    color: transparent;
    transition: all 0.5s ease;
    transform: rotate(0deg);
    @include desktop {
      display: none;
    }

    &--active{
      transform: rotate(180deg);
      background: url(../../../../assets/close.svg) no-repeat center;
    }
  }
}

.content-menu{
  width: 100%;
  justify-content: space-between;
  @include desktop {
    justify-content: flex-start;
  }
}

.content-logo{
  margin: 0 auto;
}

.content-menu__navigation{
  display: flex;
}
.navigation{
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  flex-direction: column;
  position: fixed;
  left: 100%;
  top: 55px;
  z-index: 2;
  background: var(--color-white);
  transition: all .5s ease;
  padding-top: 30px;

  @include desktop{
    position: inherit;
    height: auto;
    padding-top: 0;
    pointer-events: auto;
    overflow: visible;
    &__ul{
      flex-direction: row;
    }
  }

  &--active{
    //display: block;
    left: 0;
    pointer-events: auto;
  }

  &__ul{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    @include desktop{
      flex-direction: row;
      gap: 15px;
      margin: 0;
    }
  }

  &__li {
    padding: 0;
    list-style: none;
    border-bottom: 1px solid var(--soft-gray-2);
    margin-bottom: 20px;
    padding-bottom: 20px;
    &:last-child{
      border: none;
    }
    @include desktop{
      border: none;
      margin: 0;
      padding: 0;
    }
  }
  &__a{
    text-decoration: none;
    color: var(--color-main);
    font-size: 20px;
    @include desktop{
      font-size: 16px;
    }
    &--active{
      font-weight: bold;
      font-size: 20px;
    }
  }

  &__item{
    &-information{
      position: relative;
      &:hover{
        .navigation__information{
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }

  &__information{
    padding: 20px;
    transform: translate(100%, 0);
    pointer-events: none;
    transition: transform 0.5s ease;
    background: white;
    &-a{
      display: block;
      margin-bottom: 15px;
    }
    &--active{
      transform: translate(0, 0);
      pointer-events: auto;
    }
    @include desktop{
      width: max-content;
      padding-right: 65px;
      transform: translate(0, 0);
      pointer-events: auto;
      position: absolute;
      left: -40px;
      top: 35px;
      box-shadow: 0px 0px 6px 0px var(--color-main);
      border-radius: 16px;
      pointer-events: none;
      opacity: 0;
      z-index: 2;
      transition: all 0.5s ease;
      &::after{
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 15px 10px 0;
        transform: rotate(90deg);
        border-color: transparent var(--color-white) transparent transparent;
        filter: drop-shadow(-4px 0px 3px rgba(24, 24, 35, 0.6));
        position: absolute;
        top: -17px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: -1;
      }
    }
  }

}

.language {
  &__text {
    color: var(--color-main);
    display: none;
  }

  &__logo{
    width: 18px;
    height: 20px;
  }

  @include desktop {
    &__text {
      display: block;
      font-size: 14px;
    }
  }
}
