<div class="main-wrapper banner-secondary">
  <div class="main-wrapper__content banner-secondary__content">
    <div class="banner-secondary__content--dark">
      <div class="banner-secondary__img">
        <img src="../../../assets/banner-secondary.png" alt="">
      </div>
      <div class="banner-secondary__info">
        <h2 class="banner-secondary__title" > {{ title }} </h2>
        <h2 class="banner-secondary__subtitle" > {{ subtitle }} </h2>
        <p class="banner-secondary__description" > {{ description }} </p>
      </div>
    </div>
  </div>
</div>
