* {
  box-sizing: border-box;
}

body{
  font-family: var(--font-family-1);
  overflow-x: hidden;
}

a,p{
  font-weight: 400;
}

a{
  cursor: pointer;
}

h1,h3,a,p{
  color: var(--color-white);
}

.main-wrapper {
  max-width: var(--screen-lg);
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  &__content {
    @extend .main-wrapper;
    max-width: var(--screen-md);
    &--flex{
      display: flex;
      justify-content: space-between;
    }
  }
}

.button-buy{
  display: block;
  width: max-content;
  background: var(--button-red);
  color: var(--color-white);
  border-radius: 100px;
  padding: 6px 55px;
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
}
