@import '../styles/mixins';

* {
  box-sizing: border-box;
}

body{
  font-family: var(--font-family-1);
  overflow-x: hidden;
}

a,p{
  font-weight: 400;
}

a{
  cursor: pointer;
  color: var(--color-main);
}

h1,h3,p{
  color: var(--color-white);
}

.main-wrapper {
  max-width: var(--screen-lg);
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  &__content {
    @extend .main-wrapper;
    max-width: var(--screen-md);
    padding: 0;
    &--flex{
      display: flex;
      justify-content: space-between;
    }
  }
}

.footer{
  h3{
    color: var(--color-main);
    font-weight: bold;
    font-size: 20px;
  }
  .footer-nav{
    a{
      display: block;
      margin-bottom: 10px;
      font-size: 16px;
      @include desktop{
        font-size: 18px;
      }
    }
  }
}

.button-buy{
  display: block;
  width: max-content;
  background: var(--button-red);
  color: var(--color-white);
  border-radius: 100px;
  padding: 6px 55px;
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
}
