:root {
  // Main colors
  --color-main: #181823;
  --color-white: #FFFFFF;

  // Secondary colours
  --soft-gray: #9292A0;
  --soft-gray-2: #B2B2C1;
  --soft-gray-3: #E7E6F6;
  --soft-blue: #C0EEF2;


  // Tertiary colors
  --button-red: #C20114;
  --soft-blue-2: #537FE7;


  // font family
  --font-family-1: "Roboto", sans-serif;

  // screen size
  --screen-lg: 1440px;
  --screen-md: 1248px;
  --screen-tb: 768px;
  --screen-xs: 414px;
}
