:root {
  // Main colors
  --color-main: #181823;
  --color-white:#FFFFFF;

  // secondary colours
  --soft-gray: #9292A0;
  --soft-blue: #C0EEF2;
  --button-red: #C20114;

  // font family
  --font-family-1: "Roboto", sans-serif;

  // screen size
  --screen-lg: 1440px;
  --screen-md: 1248px;
  --screen-tb: 768px;
  --screen-xs: 414px;
}
