<div class="social-media">
  <h3 class="social-media__title" >Follow us</h3>
  <ul class="social-media__content"  >
    <li class="social-media__item" >
      <a class="social-media__link" href="#">
        <img class="social-media__ico" src="../../../assets/twitter-icon.svg" alt="Twitter icon">
      </a>
    </li>
    <li class="social-media__item" >
      <a class="social-media__link" href="#">
        <img class="social-media__ico" src="../../../assets/facebook-icon.svg" alt="Facebook icon">
      </a>
    </li>
    <li class="social-media__item" >
      <a class="social-media__link" href="#">
        <img class="social-media__ico" src="../../../assets/youtube-icon.svg" alt="Youtube Icon">
      </a>
    </li>
  </ul>
</div>
