@import '../../../styles/mixins';
.logo{
  img{
    width: 103px;
    @include desktop{
      width: 154px;
    }
  }
  &.footer-logo{
    img{
      width: 180px;
      @include desktop{
        width: 299px;
      }
    }
  }
}
