<div class="main-wrapper footer-contact">
  <div class="main-wrapper__content footer-contact__content">
    <nav>
      <ul class="footer-contact__navigation" >
        <li class="footer-contact__item" >
          <a class="footer-contact__link"  href="#"> Webside terms of use</a>
        </li>
        <li class="footer-contact__item" >
          <a class="footer-contact__link" href="#"> Site map</a>
        </li>
        <li class="footer-contact__item" >
          <a class="footer-contact__link" href="#"> enviroment</a>
        </li>
        <li class="footer-contact__item" >
          <a class="footer-contact__link" href="#"> contact&commat;arilines.com </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
